<%- include('../partials/head')%>
<head>
    <link rel="stylesheet" href="styleApp.css">
</head>
<body>
    <%- include('../partials/header')%>
    <h3>Username: <%= username %></h3>
    <h2>Create a new post</h2>
    <form action="/newpost" enctype="multipart/form-data" method="POST">
        <textarea type="text" id="message" name="message"></textarea><br>
        <input type="file" name="myImage" accept="image/*"><br>
        <input type="submit" value="Post">
    </form>
    <hr>
    <h2>Recent Posts</h2>
    <ul>
        <% postData.forEach(post=>{ %>
            <li>

                <p>
                    <p>Posted by: <%= post.postedBy %></p>
                    
                </p>

                <% if(post.imagePath){ %>
                        <img src="<%= post.imagePath %>" alt="" class="post-image-thumbnail">
                    <% } else { %>
                        <p></p>
                    <% } %>
                <p>
                    <%= post.message %>
                </p>
                
                <!-- <button onlick="location.href='/viewpost?postid=<%= post._id %>'">like <%= post.likes %></button> -->
                <button onclick="location.href='/like?postid=<%= post._id %>'">&#x2665 <%= post.likes %></button>
                <a href="/viewpost?postid=<%= post._id %>">viewpost</a>
                <hr>
            </li>
        <% }) %>
    </ul>
</body>
</html>
<%- include('../partials/footer')%>